[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "0.1.16"
huggingface_hub = "0.22.2"
python-dotenv = "1.0.1"

[dev-packages]

[requires]
python_version = "3.12"

